
<h2>Anjular  Routing and Params and Query Params Example </h2>
<ul>
  <li><a routerLink="/home">Home</a></li>
  <li>
    <a  routerLink="/about">About</a>
    
  </li>
  <li>
    <a  routerLink="/user-list">User list</a>
  </li>
  <li>
    <a  routerLink="/cricketusers">Cricketusers</a>
  </li>
</ul>

<router-outlet></router-outlet>
<hr>
<h4>Service Example</h4>
<table>
 <tr>
 <th>Name</th>
 <th>Age</th>
 <th>Gender</th>
 </tr>
 <tr *ngFor="let _user of users">
   <td>{{_user.name}}</td>
   <td>{{_user.age}}</td>
   <td>{{_user.gender}}</td>
 </tr>
 
</table>


